// Navbar styles
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a:focus {
  background-color: #E66F37;
  background-image: none;
  filter: none;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #E66F37;
  cursor: arrow;
}
.nav-tabs > li > a {
  color: grey;
  cursor: default;
}
.nav-tabs > li {
  color: grey;
  cursor: default;
}
